<h1><%= @list.name %></h1>
<% @list.bookmarks.each do |bookmark| %>
<%= bookmark.movie.title %>
<%= bookmark.movie.overview %>
<%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
<%= link_to "Add movie to list", new_list_bookmark_path(@list) %>

<%= link_to "Return to lists", lists_path(@list) %>
